<md-list-item >
    <md-icon md-svg-icon="../img/metro.svg"></md-icon>
    <p>附近有地铁</p>
    <md-switch class="md-primary" ng-model="loc_sel.metro" ></md-switch>
</md-list-item>
<md-content ng-show="loc_sel.metro" layout-margin>
    <div layout="column" layout-margin layout-fill>  
          <div layout="row">
              <md-input-container class="md-block" flex="50">
                  <label>地铁线路</label>
                  <md-select ng-model="loc_sel.userMetro">
                    <md-option><em>请选择</em></md-option>
                    <md-option ng-repeat="metro in metros" ng-value="metro.abbrev" >
                      {{metro.abbrev}}
                    </md-option>
                  </md-select>                    
              </md-input-container> 
              <md-input-container class="md-block" flex="50">
                  <label>距离</label>
                  <md-select ng-model="loc_sel.userMetroDis">
                    <md-option><em>请选择</em></md-option>
                    <md-option ng-repeat="dis in distances" ng-value="dis.abbrev" >
                      {{dis.abbrev}}
                    </md-option>
                  </md-select>                    
              </md-input-container>
          </div>
    </div>
</md-content>
<md-divider></md-divider>