<md-list-item >
    <md-icon md-svg-icon="../img/school.svg"></md-icon>
    <p>属于学区房</p>
    <md-switch class="md-primary" ng-model="loc_sel.school"></md-switch>
</md-list-item>
<md-content ng-show="loc_sel.school" layout-margin>
    <div layout="column" layout-margin layout-fill>  
          <div layout="row">              
              <md-checkbox class="md-primary" ng-model="loc_sel.userXx">
                  优质小学学位
              </md-checkbox>               
          </div>           
        <div layout="row">            
              <md-checkbox class="md-primary" ng-model="loc_sel.userCz">
                  优质初中学位
              </md-checkbox>
        </div>
    </div>
</md-content>
<md-divider></md-divider>