<md-whiteframe class="md-whiteframe-6dp" layout layout-align="center center" >
    <md-list flex ng-cloak>  
        <div ng-include="'views/loc-region.html'"></div>  
        <div ng-include="'views/loc-metro.html'"></div>  
        <div ng-include="'views/loc-supmkt.html'"></div>
        <div ng-include="'views/loc-school.html'"></div>   
        <div ng-include="'views/set-price.html'"></div>
        <section layout="row" layout-align="center center" layout-wrap>                  
          <md-button class="md-raised md-primary" ng-click="robotSearch()">搜索</md-button>
          <md-button class="md-raised md-primary" ng-click="reset()">清空</md-button> 
            <md-button class="md-raised md-primary" ng-click="openLocSearch()">关闭</md-button> 
        </section>
    </md-list>
</md-whiteframe>