<div class="container" ng-controller="SearchController" >
    <br>
    <br>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <div id="form-container" >
                <div class="page-header text-center" layout="row" flex>
                   <section layout="row" layout-wrap layout-padding flex="80">
                        <div class="input-group">                  
                            <input type="text" class="form-control" ng-model="xqName" placeholder="小区名称">
                            <span class="input-group-btn">                    
                                <button class="btn btn-primary" type="button" ng-click="searchXq()">搜索</button>
                            </span>                
                        </div>
                    </section>  
                    <section layout="row" layout-wrap layout-padding flex="20">
                        <span class="input-group-btn">                    
                            <button class="btn btn-danger flashButton" type="button" ng-click="openLocSearch()">开启智能搜索</button>                         
                        </span>
                    </section>
                </div>
            </div>

            <div >
                <div ng-include="'views/result.html'"></div>
            </div>     
        </div>
    </div>
    <md-sidenav md-theme="altTheme" class="md-sidenav-left" md-component-id="left" md-disable-scroll-target="body" md-whiteframe="6" is-locked-open="$mdMedia('sm')" flex>
        <br>
        <br>
        <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools">搜索条件</h1>
        </md-toolbar>
        <md-content>
            <div ng-include="'views/loc.html'"></div>                    
        </md-content>
    </md-sidenav>            
</div>

